{% load static %}
<html lang="es">

	<head>
		{% block head %}
        {% endblock %}
		<meta charset="utf-8">
		<title>Usuarios</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static '/css/estilos.css' %}?version= Math.random();">
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link rel="shortcut icon" href="{% static 'imagenes/logo.jpg' %}">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	</head>

	<body>
	    <header>
			<div class="row contenedor">


			</div>
		</header>


	 	{% block contenido %}
        {% endblock %}
	</body>
<html>